body{
  background-color: #000;

  align-items: center;
  align-content: center;

}
button{
  background-color: #4286f4;
  font-size: 20px;
  text-align: center;
  color: #000;
  margin-top: 40px;
  margin-left: 40px;
  align-self: center;
}

p {
  background-color: #4286f4;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 30px;
}
